.DoctorDashboard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 0 5vw;
    position: relative;
}

.DoctorDashboard::before {
    content: "MEDI - HELP";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 10vw;
    transform: rotate(45deg);
    color: #e91e621f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.DoctorDashboardTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.doctorDP {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgba(255, 255, 255, 0.705);
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 1));
}

.doctorNameAndSpecility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    max-width: 60%;
    width: auto;
}

.doctorNameAndSpecility .doctorName {
    font-size: 5vw;
    letter-spacing: 2px;
}

.doctorNameAndSpecility input {
    border: none;
    background: none;
    text-align: end;
    width: 100%;
    outline: none;
}

.doctorNameAndSpecility .doctorSpecility {
    font-size: 3.8vw;
    letter-spacing: 1.5px;
}

select#specility {
    border: none;
    background: none;
    text-align: end;
    outline: none;
    appearance: none;
    width: 45%;
}

select#specility option {
    font-size: 16px !important;
}

.DoctorDashboardMiddle1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.DoctorDashboardMiddle1Rating {
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    flex-direction: column;
}

.DoctorDashboardMiddle1degreeWithExperience {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: auto;
}

.DoctorDashboardMiddle1degreeWithExperience input {
    border: none;
    background: none;
    text-align: end;
    width: 100%;
    font-size: 16px;
    outline: none;
}

.DoctorDashboardMiddle1degreeWithExperience input:nth-child(3) {
    max-width: 2vw;
}

.DoctorDashboardMiddle2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2vw);
    height: 30px;
    letter-spacing: 1px;
    padding: 0 1vw;

    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.starRating {
    color: rgb(149, 149, 0);
}

.DoctorHospitalName,
.DoctorVerifiedSymbol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.DoctorVerifiedSymbol {
    gap: 15px;
}

.DoctorHospitalName input {
    border: none;
    background: none;
    font-size: 16px;
    outline: none;
    letter-spacing: 1px;
    margin-left: 4px;
}

.DoctorHospitalName .starRating {
    margin-right: 15px;
}

.DoctorVerifiedSymbol span {
    color: #007a00;
}

.DoctorDashboardBottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 20px);
    height: 40vh;
    margin-top: 20px;
    border: 10px solid rgba(154, 144, 4, 0.368);
    border-radius: 5px;
    box-shadow: 0 0 10px 2px black;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.DoctorDashboardBottom::-webkit-scrollbar-thumb {
    background: #cbb92d;
}

.PersonMessageDiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(255, 221, 0, 0.543);
    width: calc(90% - 20px);
    padding: 5px 10px;
    margin: 10px 5%;
    border-radius: 5px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.692));
    cursor: pointer;
    transition: 0.5s;
}

.PersonMessageDiv:hover {
    background-color: rgb(255, 221, 0);
    transform: scale(1.02);
}

.PersonMessageDiv .PersonName {
    font-size: 12px;
}

.LogOutBtn {
    position: absolute;
    top: -80px;
    right: -80px;
    background-color: rgba(255, 234, 0, 0.53);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid green;
}

.LogOutBtn:hover {
    top: -15px;
    right: -15px;
    border-radius: 50%;
}

.leftBottomSymbol {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
}

.LogOutBtn:hover .leftBottomSymbol {
    display: none;
}

.imageSection:hover .uploadButton {
    opacity: 1;
    font-size: 5vw;
}

.uploadButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2px);
}