.App {
  text-align: center;
  overflow: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 2.5px;
  background: rgba(40, 44, 52, 0.523)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8f80d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}